
body{
    
    background-color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: cornsilk;
    user-select: none;
    
}
/* Heading */
.heading{
    text-align: center;

}

#Main{
    font-weight: 300;
    color: red;
    
}

#Sub{
    font-size: 6px;
    font-weight: 100;
    position: relative;
    top: -20px;
    left: 25px;
    
}

/* Navagation */

.nav{
    color: rgb(252, 244, 244);
    padding: 10px;
    margin: 10px;
    font-weight: 200;
    font-size: 15px;
    position: relative;
    top: -20px;
    text-align: center;
}

.home, .about, .template{
    padding: 3px;
}


.home:hover{
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    padding: 5px;
    transition: 0.5s;

}

.template:hover{
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    padding: 5px;
    transition: 0.5s;
}

.about:hover{
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    padding: 5px;
    transition: 0.5s;

}


/* Content styling */

.conthead{
    position: absolute;
    top: 200px;
    left: 100px;
    font-size: 70px;
    
}

.conthead{
    animation: type 3s steps(29);
    transition: 3s;
    overflow: hidden;
    
    border-right: 40px white
    width: (29);

}

@keyframes type {
    0% {
        width: 0ch;
        transition: 3s;
    }
    100%{
        width: 29ch;
        transition: 3s;
    }

}




/* logo */

.logo{
    height: 150px;
    width: 153px;
    rotate: 8;
    position: absolute;
    top: 427px;
    left: 707px;
    -webkit-transform: rotate(-10deg);
    background-color: cornsilk;
    margin: 3px;
    border-radius: 9px;


}



.box{

    background-color: rgb(235, 184, 19);
    padding: 50px 42px;
    -webkit-transform: rotate(-10deg);
    position: absolute;
    left: 710px;
    top: 413px;
    margin: 5px;
    border-radius: 15px;
    
    

}

.box3{

    background-color: rgb(240, 234, 234);
    padding: 50px 42px;
    -webkit-transform: rotate(-10deg);
    position: absolute;
    left: 703.9px;
    top: 416px;
    margin: 7px;
    border-radius: 15px;
    
    

}

/* Responsiveness */
@media screen and (max-width: 600px) {
    .logo{
        display: none;
    }
    
}

@media screen and (max-width: 600px) {
    .logo{
        display: none;
    }
    
}

@media screen and (max-width: 600px) {
    .box{
        display: none;
    }
    
}
@media screen and (max-width: 600px) {
    .box3{
        display: none;
    }
    
}

@media screen and (max-width: 594px){
    .conthead{
        font-size: 70px;
    left: 80px;

    }
}


@media screen and (max-width: 534px){
    .conthead{
        font-size: 50px;
    left: 70px;

    }
}

@media screen and (max-width: 408px){
    .conthead{
        font-size: 40px;
        left: 60px;

    }
}

@media screen and (max-width:353px) {
    .conthead{
        font-size: 35px;
        left:60px;
    }
}



/* Paragraph 1 */

.paragraph{
    position: absolute;
    justify-content: center;
    text-align: center;
    top: 700px;
    left: 100px;
    color: black;
    background-color: cornsilk;
    border-radius: 5px;
    text-align: center;
    max-width: 700px ;
    max-height: 90%;
    margin: 20px;
    padding: 30px;
    font-weight: 500;
    font-style: oblique;
    font-size: 20px;
}


.paragraph:hover{
    background-color: rgba(193, 243, 93, 0.781);
    color: whitesmoke;
    transition: 0.5s;
}

/* Features */

.fet1{
    position: absolute;
    justify-content: center;
    text-align: center;
    top: 900px;
    left: 700px;
    padding: 15px;
    border-radius: 30px;
    width: 20ch;
    background-color: #171717;
    color: cornsilk;
    font-size: 20px;
    font-weight: 600;

}


.fet2{
    position: absolute;
    justify-content: right;
    text-align: center;
    top: 970px;
    left: 700px;
    padding: 15px;
    width: 20ch;
    border-radius: 30px;
    background-color: #171717;
    color: cornsilk;
    font-size: 20px;
    font-weight: 600;

}

.fet3{
    position: absolute;
    justify-content: center;
    text-align: center;
    top: 1040px;
    left: 700px;
    padding: 15px;
    width: 20ch;
    border-radius: 30px;
    background-color: #171717;
    color: cornsilk;
    font-size: 20px;
    font-weight: 600;


}

.fet1:hover{
    background-color: rgb(248, 248, 1);
    padding: 17px;
    transition: 1s;
    border-color: teal;

}
.fet2:hover{
    background-color: rgb(0, 255, 42);
    padding: 17px;
    transition: 1s;

}
.fet3:hover{
    background-color: rgb(0, 255, 191);
    padding: 17px;
    transition: 1s;
}


@media screen and (max-width: 921px) {
    .fet1{
    left: 400px;
    top: 650px;
        
    }
    .fet2{
        left: 500px;
    top: 730px;

    
    }
    .fet3{
        left: 500px;
    top: 800px;

    }
    .paragraph{
        top: 600px;
    }
    
}


@media screen and (max-width: 587px) {

    .fet1{
        left: 200px;
    }
    .fet2{
        left: 200px;
    }
    .fet3{
        left: 200px;
    }
    .paragraph{
        top: 400px;
        


    }
}

@media screen and (max-width: 463px) {

    .fet1{
        left: 100px;
    }
    .fet2{
        left: 100px;
    }
    .fet3{
        left: 100px;
    }
    .paragraph{
        top: 400px;
        left: 60px;
        margin: 0px;
        


    }
}

@media screen and (max-width: 405px) {

    .fet1{
        left: 100px;
    }
    .fet2{
        left: 100px;
    }
    .fet3{
        left: 100px;
    }
    .paragraph{
        top: 350px;
        left: 60px;
        margin: 0px;
        


    }
}

@media screen and (max-width:283px) {
    .paragraph{
        font-size: 18px;
        font-weight: 450;
        padding: 15px;
        top: 30px;
    }
    .fet1{
        left: 70px;
    }
    .fet2{
        left: 70px;
    }
    .fet3{
        left: 70px;
    }

    }
}
